<div class="card nextEventColor" style="width: 28rem;">
  <div class="card-body">
    <h4 class="card-title" style="text-align: center">Next Event !!!!</h4>

    <div class="form-group">
      <div class="row">
          <div class="col-sm-6">
            <h5 class="card-title" style="text-align: left">{{events.date}}</h5>

          </div>
        <div class="col-sm-6">
          <h5 class="card-title" style="text-align: right">{{events.time}}</h5>

        </div>
      </div>
      <h5 class="card-title" style="text-align: center">{{events.eventName}}</h5>
    </div>

  </div>
</div>

